.title {
    color: blue;
    font-size: 2rem;
    text-align: center;
}
.container {
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    text-align: center;
}
.btn{
    display: flex;
    justify-content: center;
}
.form{
    background-color: rgba(50, 154, 218, 0.568);
}
